@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Navigation */
.navbar {
  background-color: #272a2d75;
}
.scrolling-navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.top-nav-collapse {
  background-color: #272a2d;
}
footer.page-footer {
  background-color: #272a2d;
}
@media only screen and (max-width: 1200px) {
  .navbar {
    background-color: #272a2d;
  }
}
.navbar .navbar-brand img {
  height: 50px;
}
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  line-height: 40px;
  font-size: 13px;
  padding: 0 25px !important;
  font-weight: 500;
}
.navbar .navbar-nav .nav-link:hover {
  color: #a5ff8e !important;
}
@media (min-width: 1200px) {
  .dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
  }
}
/* /Navigation */

/* Poster */
.poster-index {
  background-image: url("../img/bg-dark-radial.jpg");
}
.poster-full {
  height: 100vh;
}
.poster-lg {
  min-height: 70vh;
}
.poster-md {
  min-height: 60vh;
}
.poster-sm {
  min-height: 30vh;
}
.poster {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
}
.poster .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* /Poster */

/* Cards of Categories */
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .card {
  margin: 16px 0;
}
.card,
.card-content,
.card-content-all {
  border-radius: 1rem !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-content,
.card-content-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 180px;
  background-color: #272a2d;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (max-width: 1200px) {
  .card-content-all {
    height: 100px;
  }
}
.card-content {
  background-color: #272a2d;
}
.card-content h1 {
  margin-top: 8px;
  font-size: 64px;
}
.card-content .card-title {
  margin-bottom: 8px;
}
.card-content .card-title a,
.card-content-all .card-title a {
  color: white;
  font-weight: 600 !important;
  font-size: 16px;
}
.card-content h6,
.card-content-all h6 {
  margin: 0;
}
.card-content p {
  margin: 16px 0;
  font-size: 13px;
  font-weight: 300;
}
.card-content:hover,
.card-content-all:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}
.card-content:hover {
  background-color: #397ec9;
  background-image: url(../img/bg-category.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.dashed-bordered {
  display: flex;
  flex-direction: column;
  flex: 100%;
  justify-content: center;
  margin: 1rem;
  border: 1px dashed white;
  border-radius: 1rem;
  text-transform: uppercase;
}
/* /Cards of Categories */

/* Testimonial */
.testimonial-wrapper .testimonial {
  text-align: center;
}
.testimonial-wrapper .testimonial .avatar {
  margin: 32px;
}
.testimonial-wrapper .testimonial .avatar img {
  height: 180px;
  width: 180px;
  border-radius: 10rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/* /Testimonial */

/* Footer */
footer {
  margin-top: 32px;
  background-color: #272a2d;
  text-align: center;
  width: 100%;
}
footer .container .row {
  padding-top: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
footer .footer-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer h5,
footer p,
footer a,
footer a:hover {
  color: white;
}
footer h5 {
  margin-bottom: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .copyright {
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
footer .copyright p {
  margin: 0;
}
footer img {
  height: 50px;
  margin-bottom: 16px;
}
/* /Footer */

/* Switch */
.switch label input[type="checkbox"]:checked + .lever {
  background-color: #b7ffb4 !important;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #60f442 !important;
}
/* /Switch */

/* Sign In, Sign Up & Feedback */
.poster-signin {
  background-image: url(../img/signin-bg-dark.jpg);
}
.poster-signup {
  background-image: url(../img/signup-bg-dark.jpg);
}
/* .poster-feedback {
  background-image: url(../img/feedback-bg-dark.jpg);
} */
.poster-feedback .container .row,
.poster-signin .container .row,
.poster-signup .container .row {
  display: flex;
  justify-content: center;
}
.poster-feedback .card-feedback .card-header,
.poster-signin .card-signin .card-header,
.poster-signup .card-signup .card-header {
  color: white;
  padding: 24px 0;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.poster-feedback .card-feedback form,
.poster-signin .card-signin form,
.poster-signup .card-signup form {
  text-align: center;
  color: #757575;
}
.poster-feedback .card-feedback form button,
.poster-signin .card-signin form button,
.poster-signup .card-signup form button {
  margin: 24px 0;
}

.poster-feedback .restaurant-logo {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.poster-feedback .restaurant-logo img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  padding: 4px;
  margin: auto;
  background: white;
  border-radius: 10rem;
}

.poster-feedback .card-feedback {
  margin: 32px 0;
}

.smiles {
  display: flex;
  justify-content: center;
}

.smiles button {
  margin: 16px 8px !important;
}

.smile {
  width: 48px;
  height: 48px;
}

.form-gradient input[type="text"]:focus:not([readonly]),
.form-gradient input[type="email"]:focus:not([readonly]),
.form-gradient input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #8bc34a !important;
  box-shadow: 0 1px 0 0 #8bc34a !important;
}

.form-gradient input[type="text"]:focus:not([readonly]) + label,
.form-gradient input[type="email"]:focus:not([readonly]) + label,
.form-gradient input[type="password"]:focus:not([readonly]) + label {
  color: #4f4f4f !important;
}

.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #8bc34a !important;
  box-shadow: 0 1px 0 0 #8bc34a !important;
}

.form-gradient a {
  color: #8bc34a;
}
.form-gradient a:hover {
  color: #007a31;
}

.form-gradient input[type="checkbox"]:checked + label:before {
  border-color: transparent #8bc34a #8bc34a transparent;
}

.form-gradient .categories {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.form-gradient .categories button {
  background-color: #8bc34a;
}

.dropdown-success .dropdown-content li a,
.dropdown-success .dropdown-content li span:hover,
.dropdown-success .dropdown-content li.active {
  background-color: #8bc34a !important;
}

.card-feedback .upload-photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster-feedback .thankyou {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.poster-feedback .thankyou img {
  max-width: 100%;
  margin: auto;
  background: white;
  border-radius: 1rem;
}



/* /Sign In & Sign Up */

/* Dashboard */
.dashboard .side-nav .logo {
  margin: 24px 0;
  text-align: center;
}
.dashboard .side-nav .logo a {
  padding-left: 0 !important;
}
.dashboard .side-nav .logo a img {
  height: 50px;
}
.dashboard .side-nav {
  background-image: url("../img/dashboard-bg.jpg");
}
.dashboard .user-profile {
  width: 240px;
  padding: 20px 20px 20px 32px;
  display: flex;
}
.dashboard .user-profile img {
  max-width: 100%;
  width: 60px;
  height: 60px;
  padding: 4px;
  margin: auto;
  float: left;
  background: white;
  border-radius: 10rem;
}
.dashboard .user-profile h4 {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-left: 20px;
  margin: 20px 0;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard .side-nav .dashboard-menu li {
  font-weight: normal;
}
.dashboard .side-nav .dashboard-menu a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.dashboard .side-nav .dashboard-menu a span {
  font-size: 14px;
}
.dashboard .side-nav .dashboard-menu a:hover {
  color: #a5ff8e;
}
.dashboard .nav {
  margin-left: auto;
}
.dashboard .form-item {
  margin: 24px 0;
}
.dashboard .form-item .md-form {
  margin-top: 8px;
  margin-bottom: 0;
}
.dashboard .form-item-title {
  margin: 12px 0;
  color: #007bff;
}
.dashboard .caret {
  color: rgba(0, 0, 0, 0.5) !important;
}
.dashboard .form-item .btn-change-wrapper {
  display: flex;
  justify-content: flex-end;
}
.dashboard .cards-info .card {
  margin-bottom: 32px;
  display: flex;
}
.dashboard .cards-info .card .card-data {
  margin: 24px 0;
}
.dashboard .cards-info .card .card-data .card-data-left,
.dashboard .cards-info .card .card-data .card-data-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard .cards-info .card .card-data .card-data-left {
  text-align: left;
}
.dashboard .cards-info .card .card-data .card-data-left a[type="button"] {
  margin: 0 32px 0 16px;
}
.dashboard .cards-info .card .card-data .card-data-right {
  text-align: right;
  padding-right: 32px;
}
.dashboard .cards-info .card .card-data .card-data-right h5 {
  font-weight: bold;
}
.dashboard .cards-info .card .card-data .card-data-right p {
  margin: 0;
}
.dashboard .card-user .user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
}
.dashboard .card-user .user-title {
  font-weight: bold;
  margin: 24px 0 16px 0;
  color: #8bc34a;
}
.dashboard .card-user .user-sub-title {
  font-weight: normal;
  color: #757575;
}
.dashboard .card-user .user-info {
  margin-bottom: 24px;
}
.dashboard .card-user .user-info i {
  margin: 16px 0;
  padding-right: 24px;
}
.dashboard .card-user .user-info span {
  font-size: 16px;
}
.dashboard .edit-profile-avatar-wrapper {
  display: flex;
  justify-content: center;
}
.dashboard .edit-profile-avatar {
  border-radius: 10rem;
  max-height: 128px;
  max-width: 128px;
}
.dashboard #map {
  height: 360px;
}

.dashboard .top-table {
  padding: 16px;
  margin-bottom: 32px;
}
.dashboard .top-table-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .card-header {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  text-align: center;
  font-size: 24px;
}
.dashboard .card-header h3 {
  color: white;
  margin: 8px 16px;
}
.dashboard tr,
.dashboard th,
.dashboard td {
  text-align: center;
  vertical-align: middle !important;
}
.dashboard .applier-avatar {
  border-radius: 10rem;
}
.dashboard .canvas-wrapper {
  border-radius: 1rem;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropleft .dropdown-menu .dropdown-item:active,
.dropleft .dropdown-menu .dropdown-item:hover,
.dropright .dropdown-menu .dropdown-item:active,
.dropright .dropdown-menu .dropdown-item:hover,
.dropup .dropdown-menu .dropdown-item:active,
.dropup .dropdown-menu .dropdown-item:hover {
  background-color: #8bc34a !important;
}

.review {
  margin: 8px 0;
}
.review .review-smile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px auto;
}
.review .review-content {
  margin: 8px 0 !important;
}
.review .review-content p {
  margin: 0 !important;
  padding: 0 16px;
  text-align: justify;
}
/* /Dashboard */
