    <head>
        <style>
            html {
            zoom: 0.60;
            }
            body {
                font-family: Arial, Helvetica, sans-serif;
                padding: 35px;
                font-size: 14px;
            }
            h2, h3, h5 {
                text-align: center
            }
            h4 {
                display: inline-block
            }
            table {
                width: 100%;
                border: 0.5 px solid black;
                border-collapse: collapse;
            }
            td {
                text-align: center;
                padding:4px;
            }
            th {
                text-align: center;
                padding:6px;
                border: 1px solid black;
                background-color:  #dee6ea
            }
            .no-margin > li {
                margin-left: 0px;
            }
            .center{
                margin: 0 auto
            }
            ol { counter-reset: item; padding:0px; }
            li{ display: block; margin-left:10px;margin-bottom:10px;}
            li:before { content: counters(item, ".") "."; counter-increment: item;
            margin-right: 20px; font-weight: 600 }
        </style>
    </head>
<body>
        <h2 id="docnum">ДОГОВОР №</h2>
        <h5>на информационно-рекламные услуги</h5>
        <p></p>
        <span style="float:left"><b>г. Ташкент</b></span>
        <span style="float: right;" id="date"><b>Даlasnfalsnfalsknf safasfasjfта</b></span><br>
            <p id="intro">ЗДесь 2 текс</p>
            <ol class="no-margin" id="first-ol">
                <li><h4>ОПРЕДЕЛЕНИЯ</h4><br>
                    Для целей Договора используются следующие понятия:<br><br>
                    <ol>
                        <li><b>Баннер</b> — графический элемент рекламного содержания, помещаемый на веб-страницах в сети
                            Интернет.
                        </li>
                        <li>
                            <b>Рекламная зона</b> — специально отведённые места на веб-страницах для размещения
                            Баннеров.
                        </li>
                        <li>
                            <b>Показы</b> — показы баннеров в рекламной зоне. Может указываться в процентном соотношении
                            от общего количества показов в рекламной зоне или заданное количество показов.<br>
                        </li>
                        <li>
                            <b>PR-материал</b> — информационный материал «Заказчика».
                        </li>
                    </ol>
                </li>
                <li id="table_here"><h4>ПРЕДМЕТ ДОГОВОРА</h4>
                    <ol>
                        <li>
                            В соответствии с настоящим Договором и приложениями, являющимися его неотъемлемой частью,
                            Исполнитель обязуется оказывать Заказчику услуги по размещению Баннеров и PR-материалов в
                            сети Интернет (далее именуемые «Услуги») в строгом соответствии с утвержденными образцами
                            Заказчика, согласно следующим условиям:
                        </li>
                        <br><br>
                        <table border="1" id="first-table">
                            <tr>
                                <th>№</th>
                                <th>Вебсайт</th>
                                <th>Рекламная зона</th>
                                <th>Кол-во</th>
                                <th>Стоимость услуг (сум)</th>
                                <th>Общая сумма с учётом НДС (7%)</th>
                                <th>Период размещения</th>
                            </tr>
                            <tr>
                            </tr>
                        </table><br>
                        <li>
                            Заказчик обязуется оплатить оказанные Услуги в соответствии с условиями настоящего
                            Договора.
                        </li>
                    </ol>
                </li>
                <li id="change_point"><h4>СТОИМОСТЬ РАБОТ И ПОРЯДОК РАСЧЕТОВ</h4>
                    <ol>
                        <li id="here_some_text"> </li>
                        <li id="perpay_types">До начала оказания Услуг Заказчик производит предоплату в размере 100% от стоимости Услуг,
                            указанной в пункте
                        </li>
                        <li id="perpay_types2">
                            Оказанные по настоящему Договору Услуги подтверждаются счетом-фактурой и актом оказанных
                            услуг.
                        </li>
                        <li>
                            Все дополнительные мероприятия, возникающие в процессе совместной работы, не оговоренные в
                            данном Договоре, оплачиваются Заказчиком отдельно, после заключения дополнительного
                            соглашения к данному Договору, за отдельную плату, согласно представляемой Исполнителем
                            спецификации.
                        </li>
                    </ol>
                </li>
                <li><h4>ОБЯЗАТЕЛЬСТВА СТОРОН</h4>
                    <ol>
                        <li>Исполнитель обязуется:<br>
                            - обеспечить качественное и своевременное выполнение Услуг в объеме и в сроки,
                            предусмотренном Договором;<br>
                            - по окончании предоставления Услуг в целом или их этапов (в конце каждого календарного
                            месяца), в течение 3 (трёх) календарных дней обязан уведомить Заказчика об их выполнении, и
                            представить для подписания акт оказанных услуг и счет-фактуру;<br>
                            - по окончании предоставления Услуг в целом или их этапов (в конце каждого календарного
                            месяца), в течение 3 (трёх) календарных дней обязан предоставить статистику по каждому из
                            баннеров (отчет о количестве показов);<br>
                            - разместить Баннеры и PR материалы в сети Интернет в соответствии с настоящим Договором и
                            приложениями к нему;<br>
                            - немедленно поставить в известность Заказчика в случае возникновения обстоятельств,
                            замедляющих ход оказания Услуг;<br>
                            - размещать Баннеры и PR материалы, утвержденные Заказчиком;<br>
                            - использовать PR-материалы в соответствии с требованиями законодательства Республики
                            Узбекистан, соответствующие по содержанию социальным, моральным и этическим принципам
                            (без содержания сообщений, оскорбляющих человеческое достоинство, пропагандирующих
                            насилие, расовую или национальную вражду и т.п.), без размещения информации эротического и
                            порнографического содержания;
                        </li>
                        <li>
                            Заказчик обязуется:<br>
                            - своевременно и полностью производить оплату Услуг в соответствии с условиями Договора;<br>
                            - предоставлять Баннеры для размещения согласно Приложению №1 (Технические требования к
                            баннерам).<br>
                            - предоставлять Баннеры и PR материалы в соответствии с требованиями законодательства
                            Республики Узбекистан, соответствующие по содержанию социальным, моральным и этическим
                            принципам (без содержания сообщений, оскорбляющих человеческое достоинство,
                            пропагандирующих насилие, расовую или национальную вражду и т.п.), без размещения
                            информации эротического и порнографического содержания;<br>
                            - в случае рекламы товаров и/или услуг, которые подлежат обязательной сертификации или
                            производство либо реализация которых требует наличия специального разрешения, лицензии,
                            Заказчик обязуется предоставить Исполнителю копии Сертификатов или Лицензий до момента
                            начала оказания услуг.<br>
                            - предоставлять PR-материалы на узбекском языке на адрес электронной почты info@simple.uz за
                                календарных дней до начала размещения материала.<br>
                            - Подписать предоставленные счета –фактуры и акты выполненных работ в течение 3 (три) рабочих
                            дней с момента их получения. Если в указанный срок не поступит мотивированный отказ от
                            подписания в письменном виде, то услуги считаются принятыми.<br>
                        </li>
                        <li>
                            Заказчик имеет право:<br>
                            - в любое время проверять ход и качество услуги, оказываемой Исполнителем, не вмешиваясь в
                            его деятельность;
                            - расторгнуть Договор досрочно в одностороннем порядке путем письменного уведомления
                            - Исполнителя за 10 (десять) календарных дней до даты расторжения настоящего Договора, в
                                случае полного или частичного неисполнения или ненадлежащего исполнения Исполнителем
                                договорных обязательств.
                        </li>
                    </ol>
                </li>
                <li><h4>ОТВЕТСТВЕННОСТЬ СТОРОН</h4>
                    <ol>
                        <li>За неисполнение либо ненадлежащее исполнение обязательств по Договору Стороны несут
                                ответственность согласно гражданскому законодательству и Закону Республики Узбекистан от
                                29.08.1998 г. «О договорно-правовой базе деятельности хозяйствующих субъектов».
                        </li>
                        <li>Предоставляемый рекламный материал должен быть согласован Заказчиком с уполномоченными
                                инстанциями, и соответствовать положениям «Закона о рекламе».
                        </li>
                        <li>
                            Заказчик несет полную ответственность за соответствие размещаемой рекламы действующему
                            законодательству РУз.
                        </li>
                        <li>
                            Заказчик гарантирует наличие у него всех необходимых документов (сертификаты, лицензии и
                            т.д.), подтверждающих качество и легитимность рекламируемого им товара или услуги, вне
                            зависимости от степени его отношения к рекламируемому товару или услуге.
                        </li>
                        <li>
                            Исполнитель не несет ответственности за достоверность размещаемой информации,
                            предоставленной Заказчиком.
                        </li>
                        <li>
                            В случае несвоевременной оплаты, Исполнитель вправе требовать от Заказчика уплаты
                            Исполнителю пени в размере 0,5% от суммы просроченного платежа за каждый день просрочки, но
                            не более 50% суммы просроченного платежа.
                        </li>
                        <li>
                            В случае неоказания Услуг, Заказчик вправе требовать от Исполнителя уплаты Заказчику пени в
                            размере 0,5% неисполненной части обязательства за каждый день просрочки, но не более 50%
                            стоимости не оказанных Услуг.
                        </li>
                        <li>
                            В случае если Исполнитель ненадлежащим образом осуществил и/или просрочил оказание Услуг
                            Заказчик вправе требовать компенсации в виде дополнительного (повторного) оказания Услуг без
                            взимания платы по размещению и/или увеличения сроков размещения тех материалов, которые
                            были размещены ненадлежащим образом. Ненадлежащим размещением признается размещение,
                            осуществленное с нарушением сроков, позиции размещения, вида размещения, количества
                            показов, указанных в настоящем Договоре и Приложениях к нему.
                        </li>
                        <li>
                            Исполнитель несет ответственность за деяния (действие или бездействие), следствием которых
                            стало разглашение или раскрытие конфиденциальной информации, в том числе коммерческой
                            тайны, ставшей ему известной при исполнении Услуг, в том числе по вине третьих лиц, которым
                            стала доступна информация, принадлежащая Стороне и охраняемая настоящим Договором.
                        </li>
                        <li>
                            Сторона, нарушившая обязательства по конфиденциальности, взятые на себя по настоящему
                            Договору, обязана возместить убытки, причиненные разглашением или неправомерным
                            использованием коммерческой тайны в течение 30 (тридцати) дней с даты получения уведомления
                            от потерпевшей Стороны.
                        </li>
                        <li>
                            В случае невыполнения Заказчиком принятых настоящим договором на себя обязательств
                            Исполнитель имеет право в одностороннем порядке расторгнуть договор, письменно уведомив об
                            этом Заказчика. При этом Заказчик не освобождается от оплаты за фактически оказанные
                            Исполнителем услуги.
                        </li>
                    </ol>
                </li>
                <li><h4>ДЕЙСТВИЕ ДОГОВОРА</h4>
                    <ol>
                        <li>
                            Настоящий Договор вступает в законную силу с момента его подписания обеими сторонами и
                            действует до полного выполнения Сторонами своих обязательств.
                        </li>
                        <li>
                            Каждая из Сторон незамедлительно уведомляет другую Сторону об изменении своих почтовых и
                            платежных реквизитов.
                        </li>
                    </ol>
                </li>
                <li><h4>КОНФИДЕНЦИАЛЬНОСТЬ</h4>
                    <ol>
                        <li>
                            Стороны обязуются не разглашать условия настоящего Договора, а также любую информацию,
                            полученную в процессе работы по настоящему Договору без письменного согласия другой
                            стороны.
                        </li>
                        <li>
                            Принимающая Сторона гарантирует сохранение конфиденциальности документации, информации,
                            знаний и опыта, полученных от предоставляющей стороны. Принимающая Сторона примет все
                            необходимые меры для того, чтобы предотвратить полное или частичное разглашение
                            документации и информации или ознакомление с ними третьих лиц без письменного согласия
                            передающей стороны, кроме случаев, оговорённых в настоящем Договоре.
                        </li>
                        <li>
                            С переданной документацией и информацией будут ознакомлены только те лица принимающей
                            стороны, которые непосредственно связаны с исполнением условий настоящего Договора в
                            объёме, оговорённом сторонами.
                        </li>
                        <li>
                            Обстоятельства по сохранению конфиденциальности сохраняют свою силу и после истечения
                            срока действия настоящего Договора или его досрочного расторжения в течение последующих
                            6 (шести) месяцев.               
                        </li>
                        <li>
                            Право собственности на информацию, связанную с исполнением настоящего Договора и
                            иные документы и носители информации принадлежит Заказчику, и они не могут использоваться
                            Исполнителем без письменного на то согласия Заказчика.
                        </li>
                    </ol>
                </li>
                <li><h4>ФОРС-МАЖОРНЫЕ ОБСТОЯТЕЛЬСТВА</h4>
                    <ol>
                        <li>
                            Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств
                            по настоящему договору в случае возникновения форс-мажорных обстоятельств (постановления
                            правительства и иные действия властей, землетрясения, пожары, тайфуны и т.п.) и, если эти
                            обстоятельства непосредственно повлияли на исполнение настоящего договора. При этом срок
                            исполнения обязательств по договору отодвигается соразмерно времени, в течение которого 
                            
                            действовали данные обстоятельства. Каждая Сторона обязана письменно за 5 дней предупредить
                            другую Сторону о наступлении форс-мажорных обстоятельств с предоставлением доказательств
                            от компетентных органов.
                        </li>
                    </ol>
                </li>
                <li><h4>ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</h4>
                    <ol>
                        <li>
                            Все споры, возникающие из настоящего Договора или в связи с ним, подлежат разрешению в
                            соответствии с законодательством Республики Узбекистан.
                        </li>
                    </ol>
                </li>
                <li><h4>ПРОЧИЕ УСЛОВИЯ</h4>
                    <ol>
                        <li>
                            Началом оказания Услуг является дата начала размещения Баннеров в соответствии с условиями
                            настоящего Договора.
                        </li>
                        <li>
                            Настоящий Договор может быть расторгнут по взаимному соглашению Сторон. При досрочном
                            расторжении настоящего Договора Заказчик уплачивает Исполнителю стоимость фактически
                            оказанных Услуг на момент его расторжения, подтвержденных актами оказанных услуг,
                            подписанных обеими Сторонами.
                        </li>
                        <li>
                            Любые изменения и дополнения к настоящему Договору действительны лишь, если они совершены
                            в письменной форме и подписаны уполномоченными на то представителями Сторон
                        </li>
                        <li>
                            В случаях, не предусмотренных настоящим Договором, Стороны руководствуются действующим
                            законодательством Республики Узбекистан.

                        </li>
                        <li>
                            Договор составлен в двух подлинных экземплярах, имеющих равную юридическую силу.
                        </li>
                    </ol>
                </li>
                <li id="reks"><h4>РЕКВИЗИТЫ СТОРОН</h4><br>
                    <div style="display: inline-block;width:50%" id="executor">
                        <b>Исполнитель</b>
                        <p style="text-align: left;width:45%">
                            
                        </p>
                        <span>__________________</span>
                    </div>
                    <div style="width:50%;float:right;text-align: center" id="firm">
                        <p class="center" id="name" style="width:75%;text-align: left"><b></b></p><br>
                        <p class="center" id="rekvizits" style="width:75%;text-align: left">
                            asaas  dlksa dlkas lkd aslk dkl 
                        </p><br>
                        <span class="center" id="sign" id="sign">___________________ </span>
                    </div>
                    <span>
                </li>
            </ol>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <h2 id="app">ПРИЛОЖЕНИЕ №1
            <br>
            <span>К ДОГОВОРУ №</span>
        </h2>
        <center>на информационно-рекламные услуги</center>
        <span style="float: left;"><b>г. Ташкент</b></span><br>
        <span style="float: right;" id="date2"><b> ДАТА</b></span><br>
        <p>
            <ol class="no-margin"> 
                <li><h4>ТРЕБОВАНИЯ К БАННЕРАМ</h4><br>
                    Предоставляемые Заказчиком баннеры должны соответствовать требованиям рекламных зон:<br><br>
                    <table border="1">
                        <tr>
                            <th>Рекламные зоны</th>
                            <th>Размер файла(Кб)</th>
                        </tr>
                        <tr>
                            <td>На дексктопных версиях</td>
                            <td>На мобильных версиях</td>
                        </tr>
                        <tr>
                            <td>до 45 Кб</td>
                            <td>до 20 Кб</td>
                        </tr>
                    </table><br>
                    <ol>
                        <li>
                            <b>Заказчик обязуется предоставить Исполнителю не менее чем за один рабочий день до
                            предполагаемой даты начала размещения баннер, отвечающий следующим условиям:</b>><br>
                            - Формат *.png, *.jpg или *.swf (Flash);<br>
                            - Заказчик обязуется немедленно информировать Исполнителя обо всех изменениях, связанных с ранее
                            предоставленными материалами.<br>
                            - Не допускается длительная и чрезмерно быстрая смена кадров, содержащих массивные и яркие
                            графические элементы.<br>
                            - Flash-баннеры должны быть выполнены (опубликованы) для 8-ой (восьмой) версии программы Adobe
                            Flash.<br>
                            - Не допускаются Flash-баннеры с аудио сопровождением и звуковыми эффектами.<br>
                            - В случае предоставления Flash-баннера, заказчик обязуется предоставить копию баннера того же размера
                            в формате *.jpg или *.png («заглушку»).<br>
                        </li><br>
                        <li>
                            <b>Условия размещения баннеров и информации</b>
                            - баннеры и сопроводительная информация, касающаяся размещения и замены Баннеров, должна
                            высылаться на электронную почту <b>info@simple.uz</b>;
                            - замена баннера осуществляется не более 1 (одного) раза в неделю.
                        </li><br>
                        <li>
                            <b>Создание ссылки во flash-баннерах</b><br>
                            Пример кода ActionScript для создания кнопки с ссылкой:<br>
                            <code>on (release) { getURL(clickTAG, "_blank"); }</code><br>
                            Ссылку на страницу для перехода необходимо указывать при предоставлении flash-баннера.
                        </li><br>
                    </ol>
                </li>   
                <li><h4>ПОДПИСИ СТОРОН</h4><br>
                    <div style="display: inline-block;width:40%">
                            <b>Исполнитель</b><br><br>
                            <span>_____________________________ М.П.</span>
                        </div>
                        <div style="width:50%;float:right;text-align: center">
                            <p class="center" style="width:63%;text-align: left"><b>Заказчик</b></p><br>
                            <span class="center">_____________________________ М.П.</span>
                        </div>
                </li>
        </ol>
    </p>
</body>

