  <template>
  <div>
  <a-modal v-if="contract.broadcast_type"
  
    v-model="visible4"
    :title="contract.entity+' '+contract.broadcast_type[0].name"
    onOk="handleOk">
  {{contract.brands}}
    Количество размещений: {{changeForm.ad_q}}<br>
    Отработано: <br>
    <span v-if="changeForm.brands[chosen_brand].companies[chosen_company]">
      <span v-if="changeForm.brands[chosen_brand].companies[chosen_company].done">
        <span v-for="(item21, index) in changeForm.brands[chosen_brand].companies[chosen_company].done"
         :key="index">
          <span v-if="item21">{{item21.name}} - {{item21.done}}</span><br>
        </span>
      </span>
    </span><br><br>
    <h4>Выберите бренд</h4>
      <a-select  
      v-model="chosen_brand">
        <a-select-option v-for="(item,index)  in changeForm.brands" 
        :value="index" :key="item.name">{{item.name}}</a-select-option>
      </a-select><br><br>
      <h4>Выберите компанию</h4>
      <a-select  
      v-model="chosen_company">
      <a-select-option v-for="(item, index) in changeForm.brands[chosen_brand].companies"
       :value="index" :key="item.name">{{item.name}}</a-select-option>
      </a-select><br><br>
      <div v-for="(item, i) in types" :key="i">
        <a-input  
      type="number" style="width:200px" :placeholder="item.name" v-model="dones[i]"/><br><br></div>
      <a-checkbox @change="onSend">Отправить отчет бухгалтеру</a-checkbox>
    <template slot="footer">
      <a-button key="back" @click="handleCancel">Отмена</a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="Dothat()">
        Отработать
      </a-button>
    </template>
    
  </a-modal>
    <a-modal v-model="visible2"
    :title="contract.entity+ '  Оплата'">
      <a-input type="number" v-model="paysum" placeholder="Введите сумму"/>
      <template slot="footer">
      <a-button key="back" @click="handleCancel">Отмена</a-button>
      <a-button key="submit" type="primary" :loading="loading" @click="PaySum()">
        Оплатить
      </a-button>
    </template>
  </a-modal>

  <a-modal
          v-model="visible"
          title="Изменить договор"
          onOk="handleOk"> 
         <a-input  v-model="contract.entity " addonBefore="Юр лицо"  />
         <a-input  v-model="contract.discount" addonBefore="Скидка" />
            <hr>
            <h4>Даты заключения/завершения:</h4> 
            {{new Date(contract.start_date).toLocaleDateString().replace('.','-').replace('.','-')}}<br>
          <a-date-picker  style="width: 320px" @change="onChangeStart" placeholder="Изменить дату заключения заключения" /><br>
            {{new Date(contract.exp_date).toLocaleDateString()}}<br>
          <a-date-picker @change="onChangeStop" style="width: 320px" placeholder="Изменить дату завершения" /><br><br>
          <hr><h4>Типы размещений</h4>

          <span v-for="item in types" :key="item.name">
            {{item.name}} - <a-input type='number' style="width:100px" v-if="contract.broadcast_type && item.size" v-model="contract.broadcast_type[0].types[item.index].q" />
            <a-input v-else-if="contract.broadcast_type[1]"
             type='number' style="width:100px" v-model="contract.broadcast_type[1].q" placeholedr="afasf"></a-input>
              <a-input v-else-if="contract.broadcast_type[0]"
             type='number' style="width:100px" v-model="contract.broadcast_type[0].q" placeholedr="afasf"></a-input><br>
          </span><br> 
          <a-select  style="min-width:270px"  placeholder="Изменить тип размещения"
            v-model="changeForm.chosen_adtype" >
            <a-select-option v-for="(item,index)  in ad_types"  :value="index" :key="index" >
              {{item.name}}</a-select-option>
          </a-select>
          <br>         
          <a-select v-if="changeForm.chosen_adtype == 1 ||  changeForm.chosen_adtype == 3"
            v-model="changeForm.banner_formats"
            mode="multiple"
            placeholder="Размеры баннера"
            style="width: 200px"
            >
            <a-select-option v-for="(i,n) in banner_types" :value="n" :key="n+23">
              {{i.name}}
            </a-select-option>
          </a-select>
        <br>
          <span v-if="changeForm.banner_formats &&( changeForm.chosen_adtype == 1 || changeForm.chosen_adtype == 3)">
            <a-input v-for="(i, index) in changeForm.banner_formats" v-model="changeForm.bs[i]" :key="index+122" 
            type="number"
            :placeholder="'Количество размещений для '+banner_types[i].name"/>
          </span>
          <br>  
          <a-select  style="width:300px"  placeholder="Доп. услуги для статьи" v-model="changeForm.chosen_service"
           v-if="changeForm.chosen_adtype == 2 ||  changeForm.chosen_adtype == 3">
              <a-select-option v-for="(item,index)  in pr_services" :value="index" :key="item.name">{{item.name}}</a-select-option>
          </a-select> 

          <a-input type="number" v-model="changeForm.q"
           addonBefore="Количество размещений" v-if="changeForm.chosen_adtype == 0 || changeForm.chosen_adtype == 2 || changeForm.chosen_adtype == 3" />
          <br>
          <b>Брэнды:</b>

          <span v-for="(item, index) in contract.brands" :key="index">
            <hr>
            <a-input   v-model="item.name"/>
            <a-input style="width:75%" v-for="(c,i) in item.companies" :key="i" v-model="c.name" ></a-input>&nbsp;
            <a-button @click="addCompany(item)" type="primary" shape="circle" icon="plus-circle"></a-button>
          <br><br>
          </span>
          <br><a-button type="dashed" @click="addBrand()"><a-icon type="plus-square" />Добавить брэнд</a-button>

          <template slot="footer">
            <a-button key="back" @click="handleCancel">Отмена</a-button>
            <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
              Изменить
            </a-button>
          </template>
        </a-modal>
      <a-modal v-model="visible3"
          :title="'Реквизиты '+contract.entity">
        Директор: <a-input v-model="properties.director" /><br>
        Адрес: <a-input v-model="properties.address" /><br>
        Телефон номер: <a-input v-model="properties.phone" /><br>
        Расчетный счет: <a-input type="number" v-model="properties.account" /><br>
        Банк: <a-input  v-model="properties.bank" /><br>
        МФО: <a-input type="number" v-model="properties.mfo" /><br>
        ИНН: <a-input type="number" v-model="properties.inn" /><br>
        <template slot="footer">
          <a-button key="back" @click="handleCancel">Отмена</a-button>
          <a-button key="submit" type="primary" :loading="loading" @click="changeProps()">
            Изменить
          </a-button>
          
        </template>
      </a-modal>

      <a-card :title="contract.entity" :loading="loading" style="text-align: left;max-width:850px;margin:0 auto">
  
      <span style="float:right; margin-top:-60px;margin-right:130px;">Оплачено: {{contract.payed}}</span>
      <span v-if="contract.start_date"  style="float:right;margin-top:-60px">
        {{(new Date(contract.start_date)).toLocaleDateString('ru-RU').toString()}}
      </span>
          <router-link to="/"><a-button type="primary" size='small' style="float:left;margin-top:-20px;">
      <a-icon type="left" />Назад
    </a-button></router-link><br>
      <a-button type="default" style="float:right" @click="showModal()" :disabled="contract.locked">
        Изменить        
      </a-button>
      <a-button type="default" :disabled="contract.locked" style="position:absolute;right:20px;margin-top:40px;" @click="showModal3()">
        Реквизиты
      </a-button>
      <a-button @click="use(contract)" style="position:absolute;right:20px;margin-top:80px;" :disabled="contract.locked">Отработка</a-button>
          <a-button @click="pay(contract)" style="position:absolute;right:20px;margin-top:120px;">Оплата</a-button>
          <a-popconfirm title="Вы уверены, что хотите аннулировать?" 
          @confirm="confirm" @cancel="cancel" okText="Да" cancelText="Нет" style="position:absolute;right:20px;margin-top:170px;">
            <a-button type="danger" :disabled="contract.locked">Аннулировать</a-button>
          </a-popconfirm>
      Юридическое лицо:  <span>{{contract.entity}}</span><br>
      Исполнитель:  <span v-if="contract.executor_id">{{exes[contract.executor_id-1]}}</span><br>
      Менеджер:  <span>{{contract.manager}}</span><br>
      Дата заключения:  <span>{{new Date(contract.start_date).toLocaleDateString()}}</span><br>
      Дата завершения:  <span>{{new Date(contract.exp_date
        ).toLocaleDateString()}}</span><br>
      Скидка:  <span>{{contract.discount}}</span><br>
      Типы размещения:  <span v-for="(br, index3) in contract.broadcast_type" :key="index3+1000">
        <span v-if="br.types"><br>
          &nbsp;&nbsp;&nbsp;{{br.name}}: {{br.q}}
          <br><span v-for="type in br.types " :key="type.name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{type.name}} - {{type.q}}</span>
        </span>
        <span v-else>
        <br>&nbsp;&nbsp;&nbsp;{{br.name}}: {{br.q}}</span></span><br><br>
      <b>Брэнды:</b> (Общее количество размещений: {{n}})  <span v-for="(brand, index2) in contract.brands" :key="index2">
        <hr>
          &nbsp;&nbsp;&nbsp;{{index2+1}}. {{brand.name}}
      <br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Рекламные компании: 
       <span v-for="(company, index1) in brand.companies" :key="index1+3221">
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - {{company.name}} | Отработано:<br>
        <span v-if="company"><span v-if="company.done">
          <span v-for="(item21, index) in company.done" :key="index">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item21.name}} {{item21.done}}<br></span>
        </span></span>  
            </span><br>
        </span>
      <a :href="'/contracts/'+this.document_name">Документ</a><br>
      <a v-if="contract.certificate" :href="contract.certificate.path">Сертификат</a><br>
      <a v-if="contract.license" :href="contract.license.path">Лицензия</a><br>
      <a-tag color="red" v-if="contract.locked" style="color:red">Аннулирован</a-tag>
      </a-card> 
</div> 
</template>
vue.use(Card)
<script>
import moment from 'moment';
import {Tag, Popconfirm, Checkbox, Icon, Modal,  DatePicker, Card, Select } from 'ant-design-vue'
import vue from 'vue'
import { parse } from 'path';
vue.use(Tag)
vue.use(Modal)
vue.use(Popconfirm)
vue.use(Icon)
vue.use(Checkbox)
vue.use(Select)
vue.use(Card)
vue.use(DatePicker)

export default {
  data() {
    return{ 
      bs:[],
      chosen_brand:0,
      chosen_company:0,
      properties: {},
      dones: [],
      document_name: '',
      ad_types : [
        {name: 'Телеграм канал', q:0},
        {name: 'Баннерная реклама', types: []},
        {name: 'Пиар статья', q:0},
        {name: 'Пиар статья и баннерная реклама'},
      ],
      chosen_adtype: null,
       banner_types : [
        {name: '640x296',q:0 },
        {name: '950x90',q:0 },
        {name: '240x400',q:0 },
      ],
       pr_services : [
        {name: 'Написание PR статьи' },
        {name: 'Перевод с русского' },
        {name: 'Написание PR статьи с фотоотчетом' },
        {name: 'PR статья с интервью' },
        {name: 'Без доп услуг' },
      ],
      exes: ['YaTT “Muslimova Lola Alimbayevna”',
      `ООО «Simple Networking Solutions»`,
      'YaTT “Agzamxodjaev Muxrimxon Masudovich”'
      ],
      visible: false,
      visible3: false,
      contract: {},
      loading: true,
      n: 0,
      paysum:null,
      done: null,
      visible2: false,
      visible4: false,
      url: 'http://138.68.70.188',
      changeForm: {
        bs:[],
        brands :[{companies:[]}]
      }
    }
  },
  computed: {
    types() {
      let arr = []
      if(this.contract.broadcast_type){
        this.contract.broadcast_type.map((item) => {
          console.log(item)
          if(item.types) {
            item.types.map((i, index) => {
              arr.push({name: item.name+' '+i.name, q: i.q, size: true, index: index})
            })
          } else {
            arr.push({name: item.name, q:item.q})
          } 
        })
      }
      return arr
    },
    start_date_initial(){
      let d = new Date(this.contract.start_date).toLocaleDateString()
      return moment(d).format('MM/DD/YYYY');
    }
  },
  methods : {
    cancel(){

    },
    async confirm (e) {
      try {
        let res = await this.axios.post(this.url+'/lock/contract/'+this.contract._id)
        console.log(res)
        alert('Контракт аннулирован')
      } catch(err){
        console.log(err)
        alert('Ошибочка :(, попробуйте заново')
      }
      
    },
        onSend (e) {
      this.send = e.target.checked
      // console.log(`checked = ${e.target.checked}`)
    },
        async PaySum(){
      try {
        this.loading = true;  
        let sum = parseInt(this.paysum)
        console.log(sum)
        if(this.changeForm.payed) sum = parseInt(this.changeForm.payed)+parseInt(this.paysum) 
        let res = await this.axios.post(this.url+'/pay/'+this.changeForm._id, {
          last_pay: this.paysum,
          payed: sum
        })
        console.log(this.paysum)
        this.visible2 = false;
        this.loading = false;
        this.changeForm.payed = sum
        alert('Оплачено!')
      } catch(err){
        this.loading = false;
        alert('Произошла ошибка')
        console.log(err)
      }
    },
    async Dothat(item) {
      this.loading = true;
      let total_done = []
      this.types.map((item, ind) => {
        if(!this.dones[ind]) this.dones[ind] = 0
        total_done.push({name: item.name, done: this.dones[ind]})
      })

      this.changeForm.brands.map((item, index) => {
        if(index == this.chosen_brand){
            item.companies.map((cm, ind) => {
              if(ind == this.chosen_company){
                if(cm.done[0]){
                  total_done.map(d => {
                    let e = false
                    cm.done.map((type, indexe) => {
                      console.log(type.name == d.name)
                      if(type.name == d.name){
                        d.done = parseInt(d.done) + parseInt(this.dones[indexe])
                        e = true
                      } else {
                        e = false
                      }
                    })
                    console.log(e)
                    if(!e){
                      cm.done.push(d)                     
                    }
                  })
                } else {
                  cm.done = total_done
                }
              } 
            })
        }
      })
      console.log(total_done)

      await this.axios.post(this.url+'/accomplish/'+this.changeForm._id, {
        change: {
          ad_left: this.changeForm.ad_left - parseInt(this.done),
          brands: this.changeForm.brands
        },
        send: this.send,
        date: new Date(),
        done: this.done,
        total_done: (this.changeForm.ad_q-this.changeForm.ad_left)+parseInt(this.done),
        entity: this.changeForm.entity,
        executor: this.exes[this.changeForm.executor_id-1],
        brand_name: this.changeForm.brands[this.chosen_brand].name,
        company_name: this.changeForm.brands[this.chosen_brand].companies[this.chosen_company].name
      })
      this.loading = false;
      this.false = true;
      this.visible = false;
      this.getContract()
      this.visible4 = false;
    },
     moment: function () {
    return moment();
  },
    total(){
      this.n = 0
      this.contract.broadcast_type.map(item => {
        if(item.types) {
          item.types.map(i => {
            this.n=this.n+parseInt(i.q)
          })
        } else {
          this.n = this.n + parseInt(item.q)
        }
      })
    },
    onChangeStart(date, dateString) {
      let st = date.toDate().getTime()
      let d = this.contract.exp_date - st
      if(d < 86400000) { 
        alert('Минимальный срок договора - 1 день ')
      } else this.contract.start_date = st; 
    },
    onChangeStop(date, dateString) {
      let st = date.toDate().getTime()
      let d = st - this.contract.start_date
      if(d < 86400000) { 
        alert('Минимальный срок договора - 1 день ')
      } else this.contract.exp_date = st;
    },
    addBrand(){
      this.contract.brands.push({name: 'Новый брэнд',companies:[{name:'Новая компания', done:[]}]})
    },
    addCompany(item){
      item.companies.push({name:'Новая компания', done: []})
    },
    use(item){
      this.changeForm = item
      this.chosen_entity = item.entity
      this.visible4 = true
    },
    pay(item){
      this.changeForm = item
      this.chosen_entity = item.entity
      this.visible2 = true
    },
    handleOk(e) {
      this.editContract()
    },
    handleCancel(e) {
      this.visible = false;
      this.visible4 = false;
      this.visible3 = false;
    },
    showModal() {
      this.visible = true;
    },
    showModal3() {
      this.visible3 = true;
    },
    async changeProps(){
      try{
        this.loading  = true;
        let res = await this.axios.post(this.url+'/change/company/'+this.contract._id,{
            props: this.properties,
            entity: this.contract.entity,
            executor_id: this.contract.executor_id,
        })
        this.loading = false;
        this.visible3 = false
        alert('Реквизиты изменены')
      }catch(err){
        console.log(err)
      }
    },
    async editContract (){
      try {
      this.loading = true;  
      console.log(this.changeForm)
            if(this.changeForm.chosen_adtype == 1){
              if(this.changeForm.bs && this.changeForm.banner_formats){
                this.contract.broadcast_type = []
                this.contract.broadcast_type.push({name: this.ad_types[1].name, types: []})
                this.changeForm.banner_formats.map((item, index) => {
                    this.contract.broadcast_type[0].types.push({name: this.banner_types[parseInt(item)].name,
                     q:parseInt(this.changeForm.bs[parseInt(index)])})
                })
              } else alert('Введите данные')
             
            } else if(this.changeForm.chosen_adtype == 2){
              this.contract.broadcast_type = []
                this.contract.broadcast_type.push({
                  name: this.ad_types[2].name,
                  q: parseInt(this.changeForm.q),
                  type: this.pr_services[parseInt(this.changeForm.chosen_service)].name
                })
            } else if(this.changeForm.chosen_adtype == 3){
                this.contract.broadcast_type = []
                this.contract.broadcast_type.push({name: this.ad_types[1].name, types: []})
                this.changeForm.banner_formats.map((item, index) => {
                this.contract.broadcast_type[0].types.push({name: this.banner_types[parseInt(item)].name,
                 q:parseInt(this.changeForm.bs[parseInt(index)])})
                })
                this.contract.broadcast_type.push({
                  name: this.ad_types[2].name,
                  q: parseInt(this.changeForm.q),
                  type: this.pr_services[parseInt(this.changeForm.chosen_service)].name
                })
            }
            if(this.changeForm.chosen_adtype === 0){
                this.contract.broadcast_type = []
                this.contract.broadcast_type.push({
                  name: this.ad_types[0].name,
                  q: parseInt(this.changeForm.q)
                })}
            console.log(this.changeForm.chosen_adtype)
            console.log(this.contract)

          let d = this.contract.exp_date - this.contract.start_date
          if(d < 86400000) {
            alert('Минимальный срок договора - 1 день. Проверьте даты, пожалуйста.')
          } else {
            let res = await this.axios.post(this.url+'/edit/contract/'+this.contract._id,
            this.contract)
            console.log(res);
            if(res.errCode == 13){
              alert('Неправильная дата')
            } else {
              this.visible = false
              this.loading = false
              this.getContract()
            }
          }
      } catch(err){
        console.log(err)
      }
    },
    async getContract() {
      try {
        let c = await this.axios.get(this.url+'/get/contract/'+this.$route.params.id);
        this.contract = c.data;
        console.log(c)
        if(this.contract.firm)
          if(this.contract.firm.props){
            this.properties = this.contract.firm.props
          }
        this.total()
        let filename = this.contract.document_path.split("/");
        this.document_name = filename[filename.length-1];
        this.loading = false
      } catch (err){
        console.log(err)
      }
      
    }
  },
  created(){
    this.getContract()
  }
}
</script>
<style>
.ant-select-selection--multiple{
  margin-top:5px!important
}
input{
  margin-top:5px!important;
}
.ant-input-group-wrapper{
  padding:5px!important
}
</style>