<template>
    <div>
        <h4>Все юридические лица</h4>
        <table border="1" style="width:98%;margin:0 auto">
            <tr>
                <th>Название</th>
                <th>Директор</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Р/c</th>
                <th>Банк</th>
                <th>МФО</th>
                <th>ИНН</th>
            </tr>
            <tr v-for="(item, i) in firms" :key="item.name+i">
                <td>{{item.name}}</td>
                <td ><span v-if="item.props">{{item.props.director}} </span></td>
                <td ><span v-if="item.props">{{item.props.address}} </span></td>
                <td><span v-if="item.props">{{item.props.phone}} </span></td>
                <td><span v-if="item.props">{{item.props.account}}</span></td>
                <td><span v-if="item.props">{{item.props.bank}}</span></td>
                <td><span v-if="item.props">{{item.props.mfo}}</span></td>
                <td><span v-if="item.props">{{item.props.inn}}</span></td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    data(){
        return {
            firms: []
        }
    },
    methods: {
        async getFirms(){
            let res = await  this.axios.get('http://138.68.70.188/get/firms')
            this.firms = res.data
        }
    },
    created(){
        this.getFirms()
    }
}
</script>

<style>
th{
    background-color: rgb(209, 245, 233)
}

</style>
