<template>
  <div> 
    <a-modal
          v-model="visible"
          :title="chosen_entity"
          onOk="handleOk">
          Количество размещений: {{changeForm.ad_q}}<br>
          <!-- Осталось отработать: {{changeForm.ad_left}}<br> -->
          Отработано: {{changeForm.ad_q - changeForm.ad_left}}<br><br>
          <span>Выберите бренд</span><br>
            <a-select  
            v-model="chosen_brand">
              <a-select-option v-for="(item,index)  in changeForm.brands" :value="index" :key="item.name">{{item.name}}</a-select-option>
            </a-select><br><br>
            <span>Выберите компанию</span><br>
            <a-select  
            v-model="chosen_company">
            <a-select-option v-for="(item, index) in changeForm.brands[chosen_brand].companies"
             :value="index" :key="item.name">{{item.name}}</a-select-option>
            </a-select><br><br>
            <a-input type="number" style="width:200px" placeholder="Количество" v-model="done"/><br>
            <a-checkbox @change="onSend">Отправить отчет бухгалтеру</a-checkbox>
          <template slot="footer">
            <a-button key="back" @click="handleCancel">Отмена</a-button>
            <a-button key="submit" type="primary" :loading="loading" @click="handleOk">
              Отработать
            </a-button>
          </template>
        </a-modal>
        <a-modal v-model="visible2"
          :title="chosen_entity+ '  Оплата'">
            <a-input type="number" v-model="paysum" placeholder="Введите сумму"/>
            <template slot="footer">
            <a-button key="back" @click="handleCancel">Отмена</a-button>
            <a-button key="submit" type="primary" :loading="loading" @click="PaySum()">
              Оплатить
            </a-button>
          </template>
        </a-modal>
    <div style="max-width:850px;margin:0 auto;text-align:left">
        <a-affix :offsetTop='topOffset'>
          <a-input-search
          style="max-width:850px;margin:10px auto"
            placeholder="Поиск (Введите Юр лицо)"
            enterButton
            v-model="searchText"/>
        </a-affix>
        <b>Фильтры поиска:</b><br>
      <a-select  style="width: 180px;float:left;margin-bottom:10px;"
       v-model="e_search">
        <a-select-option value='Все исполнители'>Все исполнители</a-select-option>
        <a-select-option value=1>{{exes[0]}}</a-select-option>
        <a-select-option value=2>{{exes[1]}}</a-select-option>
        <a-select-option value=3>{{exes[2]}}</a-select-option>
      </a-select>
      <a-range-picker @change="onChange" style=""/>
        <router-link to="/firms" style="float:right">Юридические лица</router-link>

      <br>
    </div><br>
    <!-- <a-table :dataSource="contracts"  :columns="columns">
      <router-link slot="name" slot-scope="text" :to="text">{{}}</router-link>
    </a-table> -->
    <table border="1" style="width:100%;">
      <tr>
        <th>№</th>
        <th>Юридическое лицо</th>
        <th>Сумма</th>
        <th>Оплачено</th>
        <th>Исполнитель</th>
        <th>Дата создания</th>
        <th></th>
        <th></th>
      </tr>
      <tr  v-for="(item, index) in filteredList"
       :key="index" :to="'/contract/'+item._id" class="hover">
        <router-link tag="td" :to="'/contract/'+item._id">{{item.n}}</router-link>
        <router-link tag="td" :to="'/contract/'+item._id">{{item.entity}}</router-link>
        <router-link tag="td" :to="'/contract/'+item._id">{{numberWithSpaces(total(item))}}</router-link>
        <router-link tag="td" :to="'/contract/'+item._id">
        <span  v-if="item.payed">{{numberWithSpaces(item.payed)}}</span></router-link>
        <router-link tag="td" :to="'/contract/'+item._id">{{exes[item.executor_id-1]}}</router-link>
        <router-link tag="td" :to="'/contract/'+item._id">{{new Date(item.start_date).toLocaleDateString('ru-RU')}}</router-link>
        <td><a-button @click="use(item)" v-if="!item.locked" >Отработка</a-button><a-tag color="red" v-else style="color:red">Аннулирован</a-tag></td>
        <td><a-button @click="pay(item)">Оплата</a-button></td>
      </tr>
    </table>
  </div>
</template>
<script>
import {Checkbox, Icon, Table, Modal, Affix,  DatePicker, Card, Select, Tag } from 'ant-design-vue'
import vue from 'vue'
vue.use(Modal)
vue.use(Tag)
vue.use(Checkbox)
vue.use(Table)
vue.use(Icon)
vue.use(Affix)
vue.use(Select)
vue.use(DatePicker)
export default {
  components: {
    Modal, Affix,  Select, DatePicker, Card,  
  },
  data(){
    return {
      exes: ['YaTT “Muslimova Lola Alimbayevna”',
      `ООО «Simple Networking Solutions»`,
      'YaTT “Agzamxodjaev Muxrimxon Masudovich”'
      ],
      visible: false,
      visible2: false,
      contracts: [],
      loading: true,
      paysum:null,
      url: 'http://138.68.70.188',
      topOffset:0,
      changeForm: {brands :[{companies:[]}]},
      chosen_entity: '',
        data: [],
      pagination: {},
      chosen_brand: 0,
      send: false,
      chosen_company: 0,
      searchText: '',
      done: null,
      searchInput: null,
      e_search: 'Все исполнители',
        columns: [
          {
            title: '№',
            dataIndex: 'n',
            key: 'n'
          },
          {
        title: 'Юр лицо',
        dataIndex: 'entity',
        key: 'entity',
         scopedSlots: { customRender: 'name' },
      }, {
        title: 'Сумма',
        dataIndex: 'sum',
        key: 'sum',
      }, {
        title: 'Исполнитель',
        dataIndex: 'executor_id',
        key: 'executor_id',
      }]
    }
  },
  computed: {
  filteredList() {
        return this.contracts.filter(item => {
          if(this.searchText.length != 0) return item.entity.toLowerCase().includes(this.searchText.toLowerCase())
          else return item
        }).filter(thing => {
          if(this.e_search == 'Все исполнители') {
              return thing
          } else
          if(thing.executor_id == this.e_search) return thing
        })
    },
  },
  methods: {
    numberWithSpaces(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    },
      total(item){
        let m = 0
      item.broadcast_type.map(item => {
        if(item.types) {
          item.types.map(i => {
            m=m+parseInt(i.q)
          })
        } else {
          m = m + parseInt(item.q)
        }
      })
      return m *200;
    },
    use(item){
      this.changeForm = item
      this.chosen_entity = item.entity
      this.visible = true
    },
    pay(item){
      this.changeForm = item
      this.chosen_entity = item.entity
      this.visible2 = true
    },
     handleSearch (selectedKeys, confirm) {
      confirm()
      this.searchText = selectedKeys[0]
    },
    handleReset (clearFilters) {
      clearFilters()
      this.searchText = ''
    },
    changeFilter(){

    },
    onSend (e) {
      this.send = e.target.checked
      // console.log(`checked = ${e.target.checked}`)
    },
    onChange(date, dateString) {
      console.log(date, dateString);
    },
    async getContracts(){ 
      let list = await this.axios.get(this.url+'/get/contracts');
      this.contracts = list.data.reverse();
      console.log(this.contracts)
      this.loading = false;
    },
    async PaySum(){
      try {
        this.loading = true;  
        let sum = parseInt(this.paysum)
        console.log(sum)
        if(this.changeForm.payed) sum = parseInt(this.changeForm.payed)+parseInt(this.paysum) 
        let res = await this.axios.post(this.url+'/pay/'+this.changeForm._id, {
          last_pay: this.paysum,
          payed: sum
        })
        console.log(res)
        this.visible2 = false;
        this.loading = false;
        this.changeForm.payed = sum
        alert('Оплачено!')
      } catch(err){
        this.loading = false;
        alert('Произошла ошибка')
        console.log(err)
      }
    },
    async handleOk(item) {
      this.loading = true;
      this.changeForm.brands.map((item, index) => {
        if(index == this.chosen_brand){
            item.companies.map((cm, ind) => {
              if(ind == this.chosen_company) cm.done = parseInt(cm.done)+parseInt(this.done)
            })
        }
      })
      console.log(this.changeForm.brands)
      await this.axios.post(this.url+'/accomplish/'+this.changeForm._id, {
        change: {
          ad_left: this.changeForm.ad_left - parseInt(this.done),
          brands: this.changeForm.brands
        },
        send: this.send,
        date: new Date(),
        done: this.done,
        total_done: (this.changeForm.ad_q-this.changeForm.ad_left)+parseInt(this.done),
        entity: this.changeForm.entity,
        executor: this.exes[this.changeForm.executor_id-1],
        brand_name: this.changeForm.brands[this.chosen_brand].name,
        company_name: this.changeForm.brands[this.chosen_brand].companies[this.chosen_company].name
      })
      this.loading = false;
      this.false = true;
      this.visible = false;
      this.getContracts()
      alert('Завершено')
    },
    
    handleCancel(e) {
      this.visible = false;
      this.visible2 = false;
    },
    
  },
  mounted() {
    this.getContracts();
  }
};
</script>
<style>
#components-affix-demo-target.scrollable-container {
  height: 200px;
  overflow-y: scroll;
}
.hover:hover {
  cursor: pointer;
  opacity: 0.8;
}
th{ 
  background-color: rgb(184, 224, 211)
}
</style>