<template>
  <div style="padding: 40px; max-width: 700px; margin: 0 auto;">
      <h2>Вход</h2>
      <a-input placeholder="Логин" v-model="form.email" /><br><br>
      <a-input placeholder="Пароль" v-model="form.password"  type="password"/>
      <br><br>
      <a-button type="primary" :loading="loading" @click="login" style="background-color:green">Войти </a-button>
  </div>
</template>
<script>
export default {
  data () {
    return {
      loading: false,
      form: {
        email: '',
        password: '',
        api: 'http://207.154.224.142',
        loading: true
      }
    }
  },
  methods: {
    passwordValidate(){
      if(this.form.password.length < 8){
        return false
      }  else return true
    },
     async login(){
      if(this.form.password.length > 1 && this.form.email.length > 1){
        this.loading = true;
        let uri = "http://138.68.70.188/login";
        try {
          let res = await this.axios.post(uri, {login: this.form.email, passw: this.form.password})
          console.log(res);
          if(res.data.user){
          localStorage.setItem('bot-jwt-auth', res.data.token);
          localStorage.setItem('bot-jwt-user', JSON.stringify(res.data.user));
          this.$router.push('/');
          }
        } 
        catch (err) {
          console.log(err);
          alert('Произошла ошибка!');
        }
      } else alert("Введите логин и пароль")
    }
  }
}
</script>